<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    
    <title>Detail</title>
    <!-- 부트스트랩 -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
    <body>
    <!-- CSS only -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <div class="container">

        <!-- Single Content -->
        <div id="content" class="site-content center-relative">
            <div class="single-post-wrapper content-1070 center-relative">
                
                <article class="container-relative">
                    <h1>내가 쓴 글</h1>
                    <h1 class="name">
                        {{ post.title }}
                    </h1>
                    <div class="post-info content-660 center-relative">
                        <div>
                            <li>
                                {% for c in post.category.all %}
                                {{ c }}
                                {% if not forloop.last %}
                                    ,
                                {% endif %}
                                {% endfor %}
                            </li>
                        </div>
                        <div class="entry-date published">{{ post.createDate }}</div>
                        <div class="clear"></div>
                    </div>

                    {% if post.title_image %}
                    <div>
                        <img class="image" src="{{ post.title_image.url }}" alt="">
                    </div>
                    {% endif %}

                    <div class="entry-content">
                        <div class="content-wrap content-660 center-relative">
                            {{ post.content }}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </article>
            </div>
        </div>
    </body>
</html>